<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
</head>

<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <% if(admin_name) { %>   
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>新增出版產品</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <form method="POST" action="/productAdd" enctype="multipart/form-data" accept-charset="UTF-8" data-bitwarden-watching="1">  
                    
                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>編碼：</label>
                        <input name="product_number" type="text" class="form-control" placeholder="請輸入產品編碼">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>排序：</label>
                        <input name="product_rank" type="text" class="form-control" placeholder="請輸入產品於網站顯示的順序（如：1）">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>名稱：</label>
                        <input name="product_title" type="text" class="form-control" placeholder="請輸入產品名稱">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">譯名：</label>
                        <input name="product_translation" type="text" class="form-control" placeholder="請輸入產品譯名">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>分類：</label>
                        <input name="product_category" type="text" class="form-control" placeholder="請輸入產品分類">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">作者：</label>
                        <input name="product_author" type="text" class="form-control" placeholder="請輸入作者">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">出版：</label>
                        <input name="product_publisher" type="text" class="form-control" placeholder="請輸入出版社">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>日期：</label>
                        <input name="product_date" type="date" class="form-control" placeholder="請輸入出版日期">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>簡介：</label>
                        <textarea name="product_description" class="form-control" placeholder="請輸入產品簡介" rows="4" style="width: 100%; resize: vertical;"></textarea>
                    </div>
                    <a style="color: rgb(207, 59, 59); padding-left:70px; font-size: small;">＊建議至前台查看文字長度與圖片比例是否合適，避免文字過長導致圖片被縮小。</a>

                    <div class="form-group list">
                        <label class="form-label">譯文：</label>
                        <textarea name="product_description_foreign" class="form-control" placeholder="請輸入產品外文簡介" rows="4" style="width: 100%; resize: vertical;"></textarea>
                    </div>

                    <div class="form-group list">
                        <label for="formFile" class="form-label"><span class="required">*</span>圖檔：</label>
                        <input class="form-control" type="file" id="product_path" name="product_path">
                    </div>
                    <a style="color: rgb(207, 59, 59); padding-left:70px; font-size: small;">＊圖檔檔名建議使用英文，以避免顯示為亂碼。</a>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>連結：</label>
                        <input name="product_link" type="text" class="form-control" placeholder="請輸入產品購買連結">
                    </div>
                    
                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>狀態：</label>
                        <select class="form-select" name="product_publish">
                            <option value="" disabled selected>請選擇狀態</option>
                            <option value="publish">上架</option>
                            <option value="unpublish">下架</option>
                        </select>
                    </div>
                    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success btn_margin" />
                        <button type="button" class="btn btn-warning btn_margin" id="clearButton">清空</button>
                        <a class="btn btn-secondary btn_margin" href="/productList">取消</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <% } else { %>
            <div class="loginContainer">
                <p class="loginText">歡迎使用「記憶術提升漢字詞學習」管理系統</p>
                <p class="loginText">請系統管理員登入系統</p>  
            </div>
            
        <% } %>  
    </div>
    

    <script>
        //清空欄位
        $(document).ready(function(){
            $('#clearButton').click(function(){
                $('form').find(':input').not(':button, :submit, :reset, :hidden').val('').prop('checked', false);
            })
        })
    </script>
</body>
</html>